{% extends "financiallyResponsible/index.j2" %}

{% block title %}Список имущества{% endblock %}

{% block property %}

<div class="container mx-auto">
    {% for item in emu %}
    <div class="image-card">
        <div class="image-card__img">
            <img src="/static/img/building/{{item.photo}}" loading="lazy" />
        </div>
        <div class="image-card__text">
            {{ item.id_building }}
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}