{% extends "base.j2" %}

{% block title %}Материально отвественный{% endblock %}

{% block content %}

<div class="nav container mx-auto my-[20px]">
<ul class="flex space-x-4">
    <li>
        <a href="/materil">Главная</a>
    </li>
    <li>
        <a href="/materil/property">Имущество</a>
    </li>
    <li>
        <a href="/materil/building">Здания</a>
    </li>
    <li></li>
</ul>
</div>

{% block property %}{% endblock %}

{% endblock %}