{% extends "base.j2" %}

{% block title %}Материально отвественный{% endblock %}

{% block content %}

<div class="nav container mx-auto my-[20px]">
    <ul class="flex space-x-4">
        <li>
            <a href="/materil">Главная</a>
        </li>
        <li>
            <a href="/materil/property">Имущество</a>
        </li>
        <li>
            <a href="/materil/building">Здания</a>
        </li>
        <li>
            <a href="/materil/kadastr">Кадастр</a>
        </li>
        <li>
            <a href="/materil/images">Фотографии</a>
        </li>
    </ul>
</div>

{% if request.path == "/materil/" %}
<div class="container mx-auto my-[20px] ">
    <div class="w-100 space-x-4">
        <button type="button" class="btn btn-primary bg-green-700 text-white px-[10px] py-[5px] rounded-md" id="reportBuild">
            Отчет по зданию
        </button>
    </div>

    <div class="w-100 mt-[20px]">
        Добро пожаловать в ваш личный кабинет! Здесь вы можете управлять имуществом нашего института: вносить новое<br>
        имущество, удалять устаревшее и изменять информацию о существующем. Ваша ответственность играет важную роль в<br>
        обеспечении эффективного управления нашими ресурсами. Спасибо за ваше внимание к деталям и заботу о нашем<br>
        имуществе!
    </div>
</div>
{% endif %}

{% block property %}{% endblock %}

{% endblock %}